[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .pytest_cache,
    *.egg-info,
    build,
    dist,
    .github
ignore =
    E203,
    E501,
    W503
per-file-ignores =
    __init__.py:F401
